---
const { 
  isHomepage = false,
	siteTitle = "迷走客", 
	siteDescription = "去探險，去感受，這個真實而獨特的世界。"
} = Astro.props;
---
<header>
  <div class="header-container">
    <div class="site-branding">
      <a href="/">
        {isHomepage ? (
          <h1 class="site-title">{siteTitle}</h1>
        ) : (
          <div class="site-title">{siteTitle}</div>
        )}
        <p class="site-description">{siteDescription}</p>
      </a>
    </div>
    <nav class="nav-buttons">
      <a href="https://mounx.com/s/buyMacoffee" class="nav-link" rel="nofollow noopener noreferrer" target="_blank">贊助</a>
      <a href="https://mountos.com/contact/mizuc/" class="nav-link">合作聯絡</a>
      <a href="/search" class="nav-link search-link" aria-label="Search">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search-icon">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </a>
    </nav>
  </div>
</header>
